

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Save Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="icon" href="/static/img/fav_icon.png">
</head>
<body>
<header class="container-fluid bg-primary " style="border-bottom-left-radius: 5px;border-bottom-right-radius: 5px">
    <h1 id="display" class="text-light justify-content-center align-items-center  d-flex">Server Running...</h1>
</header>
    <section style="left:0;right:0;bottom: 0;top: 0;margin: auto;position: absolute;width: 200px;height: 200px">
        <img src="/static/img/fav_icon.png" style="position: absolute">
    </section>




<script src="/static/js/bootstrap.js" rel="script"></script>
<script src="/static/js/jquery/jquery.min.js" rel="script"></script>
</body>
</html>
